<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axic.ordermanager"
    android:versionCode="1"
    android:versionName="0.0.03" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.axic.ordermanager.activity.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.axic.ordermanager.activity.AddDataToGoods"
            android:launchMode="singleTask"
		></activity>
		<activity 
		    android:name="com.axic.ordermanager.activity.ShowDataInListView"
		></activity>
		<activity 
		    android:name="com.axic.ordermanager.activity.ModifyData"
		></activity>
		<activity 
		    android:name="com.axic.ordermanager.activity.GetDataFromGoods"
		    ></activity>
    </application>

</manifest>
